<div class="container">
    <div class="row">
        {% for brnd in brand  %}
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <a href="{% url 'brand_mobiles_list' slug=brnd.slug %}"><h5>{{brnd}}</h5></a>
                </div>
                <div class="card-body align-self-stretch">
                    <div class="row">
                        <div class="col d-flex w-100 h-100">
                            
                            <picture >
                                <img class="d-flex w-100 h-100  " src="{{brnd.logo.url}}" alt="{{brnd.slug}}" srcset="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>