

<style>
  a{
    color:white
  }
  a:active {
    

  }
  a:hover {
    color: #0dcaf0 ;
    text-decoration: none;
  }

</style>

<div class="container mt-5 md-5 py-2 card">

  <div class="row"> 
    <div class="col-3 text-center">
      <h4 class="badge bg-info text-dark ">Filter</h4>
    </div>
    <div class="col">
      <div class="row text-center">
        <h2 class="badge rounded-pill bg-primary mx-auto w-50">Mobiles</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
          </ol>
        </nav>
        
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
        
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <h2 class="badge rounded-pill bg-primary mx-auto w-50">Spares</h2>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header " id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </button>
              </h2>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Collapsible Group Item #2
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                Some placeholder content for the second accordion panel. This panel is hidden by default.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Collapsible Group Item #3
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-3">
    {% include "index/filter-forma.html" %}
  </div>
  <div class="col-9">
    <div class="section_ofcards">
      <div class="row row-cols-sm-2 mt-5">
        
        {% if devs %}
          {% for mob in devs %}
            <div class="col-6 col-md-4 col-lg-3" style="padding: inherit;">
              <div class="card mx-1 my-2">
                <div class="card-header shadow-lg p-1 mb-4 bg-white">
                  <small class="logo text-end">   
                    <span class="badge bg-light-outline text-dark">{{mob.brand.name}}<a href="#"></a></span>
                  </small>
                    <h6 class="py-1 mt-1 rounded bg-dark text-light text-center" >
                      <a href="{% url 'mobile:mobile' slug=mob.slug_dev %}">
                        {{mob|cut:'Samsung'}}</a></h6>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      
                      {% if mob.imageDev %}
                      <picture>
                      <img src="{{ mob.imageDev.url }}" class='img-fluid mx-auto d-block' alt="">
                     </picture>
                      {% else %}
                        <br>
                      {% endif %}
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          
        
        {% endif %}
          
        
      </div>
    </div>
  </div>
</div>
 
 </div>
