
{% extends 'base.html' %}
{% load static %}


<style>
</style>


{% block content %}



<section class="head-index  mt-5">
  {% include "index/section-header.html" %}
</section>

<section >
  {% include "index/section-form.html" %}
  <!--
  {% include "index/section-how.html" %}
  -->
</section>

<section class="mt-5">
  {% include "index/section-brands.html" %}
</section>

<section class='repair-sale-box'>
  <!--
  {% include "index/section-repair.html" %}
  -->
</section>
<hr>
<section class="mobs">
  {% include "index/section-mobs.html" %}
</section>
<hr>
<section class='content'>
  
</section>

{% endblock content %}