
{% extends 'base.html' %}
{% load static %}


<style>
  .mobname {

  }
</style>


{% block content %}



<section class="head-index  mt-5">
  <div class="container py-5 mb-2">
    <div class="card shadow-lg text-center">
      <div class="row">

        <div class="col-4">
          <a href="" class=" mb-2">
            <img src="{% static 'img/sell-now.png' %}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
          </a>
        </div>
        <div class="col-8">
          <h3>
            يمكنك بيع <br> او اصلاح <br> او تبديل <br>
             موبايلك الآن <br>
          </h3>

        </div>

      </div>
    </div>
  </div>

</section>

<section>
  {% include "index/section-repair.html" %}
</section>
<hr>
<section>
  {% include "index/section-mobs.html" %}
</section>
<hr>
<section class='main'>
  <div class="container">

  </div>

  
  <div class="container">
    <div class="row">
      {% for dev in device %}
      <div class="col">
        <div class="card py-2">
          <div class="card border-dark">
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Text</p>
            </div>
          </div>

          <div class="card-body">
            {{dev|cut:'Apple'}}
            <small>{{dev.brand}}</small>
            
              
            
            <img class='' src="{{ dev.imageDev.url }}" alt="">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row"></div>
  </div>
  
</section>

{% endblock content %}
