{% extends 'base.html' %}
{% load static %}

<style>
    
</style>

{% block content %}

<section class="container mt-5">
<div class="row" >
  <div class="col">
    <div class="card">
      <div class="card-header">
        {% if mobily == None %}
          <h3>
            <p>PC</p>
          </h3>
        {% else %}
        
          <h6>Mobily {{mobily}}</h6>
          <h6>Brand Mobily {{mobily.brand}}</h6>
          
          <picture>
            <img src="{{ dev.img_dev_full_1.url }}" class='img-fluid mx-auto d-block' alt="">
          </picture>
          

          
        {% endif %}

      </div>
      <div class="card-body">
        {% if mob %}

          <h3>Mobile</h3>

          <br/>
        {% for dev in devs %}
        <img class="img-fluid mx-auto d-block " width="100px" src="{{dev.brand.logo.url}}" alt="brandmobile">
        
          <h2>Mobile : {{dev.nameDev}}</h2>
          <h5>Price : {{dev.priceDev}}</h5>
          
          {% if dev.img_dev_full_1.url %}
          <picture>
            <img src="{{ dev.img_dev_full_1.url }}" class='img-fluid mx-auto d-block' alt="">
          </picture>
          {% else %}
            <p>No Image For This Mobile</p>
          {% endif %}
            
        {% endfor %}
        
        {% else %}
          <h3>PC</h3>

        {% endif %}
      </div>
    </div>
  </div>
</div>

</section>
  {% endblock content %}