{% load static %}

<style>
    
</style>

<div class="row">
    <div class="col">
        <div class="card-group row">
            <div class="card col-xs-5 m-2">
                                
                <div class="logo">
                    <img src="{% static 'img/content/7e0ee1d295f9f8fab4f383a522020112.jfif' %}" alt="OriginalSpare" width="70" height="50">
                          
                    <img class="card-img-rounded w-100" src="{% static 'img/note20/mdsa2237.jpg' %}" alt="Card image cap">
                </div>
                    <div class="card-body">
                    <h4 class="card-title">Battery</h4>
                    <p class="card-text">Original Battery</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge bg-warning text-dark">Warranty</span></li>
                        <li class="list-inline-item"><span class="badge bg-success text-white">Original</span></li>
                        <li class="list-inline-item"><span class=""><i class="fas fa-tools"></i><small>Fast Service</small></span></li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-primary">Select</button>
                    
                    <a href="#" class="btn btn-outline-success">Request</a>
                </div>

            </div>
            <div class="card col-xs-5 m-2">
                               
                <div class="logo">
                    <img src="{% static 'img/content/7e0ee1d295f9f8fab4f383a522020112.jfif' %}" alt="OriginalSpare" width="70" height="50">
                       
                <img class="card-img-rounded w-75" src="{% static 'img/note20/mdsa2156.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Back Cover</h4>
                    <p class="card-text">Back Cover For Note 20 </p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge bg-success text-white">Original</span></li>
                        <li class="list-inline-item"><span class=""><i class="fas fa-tools"></i><small>Fast Service</small></span></li>
                        </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-primary">Select</button>
                    
                    <a href="#" class="btn btn-outline-success">Request</a>
                </div>
            </div>
            <div class="card col-xs-5 m-2">
                
                <div class="logo">
                <img src="{% static 'img/content/7e0ee1d295f9f8fab4f383a522020112.jfif' %}" alt="OriginalSpare" width="70" height="50">
                  
                <img class="card-img-rounded w-75" src="{% static 'img/note20/lcd_with_touch_screen_for_samsung_galaxy_note_20_ultra_white_by_maxbhi_com_44197.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">LCD + Touch Screen</h4>
                    <p class="card-text">Replacement Screen + Touch Note 20 </p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="badge bg-warning text-dark">Warranty</span></li>
                        <li class="list-inline-item"><span class="badge bg-success text-white">Original</span></li>
                        <li class="list-inline-item"><span class=""><i class="fas fa-tools"></i><small>Fast Service</small></span></li>
                        </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-primary">Select</button>
                    <a href="#" class="btn btn-outline-success">Request</a>
                </div>
            </div>
        </div>
    </div>
</div>
